################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/MainixMonitoring/bin/Debug
/MainixMonitoring/obj/Debug
/.vs/MainixMonitoring/v15
